.idea/
.settings/
.project
.classpath
*.iml

/basic-core/target/
/basic-core/.settings/
/basic-core/.classpath
/basic-core/.project
/basic-core/*.iml

/basic-netty/target/
/basic-netty/.settings/
/basic-netty/.classpath
/basic-netty/.project
/basic-netty/*.iml

/basic-redis/target/
/basic-redis/.settings/
/basic-redis/.classpath
/basic-redis/.project
/basic-redis/*.iml